<!DODCTYPE html>
<html>
<body>

<form method="POST" action='/player-team' id="ptform">
	<label for "player"> Pick a Player </label>
	<select name= "player_id" form = "ptform">
		<option value= "player1"> David Price </option>
		<option value= "player2"> Cole Hamels</option>
		<option value= "player3"> Chase Utley </option>
		<option value= "player4"> Juan Uribe </option>
		<option value= "player5"> Troy Tulowitzki </option>
		<option value= "player6"> Shane Victorino </option>
	</select>
	<label for="username"> Pick a team </label>
	<select name= "team_id" form ="ptform">
		<option value= "team2"> Los Angelas Angels </option>
		<option value= "team3"> New York Mets </option>
		<option value= "team4"> Toronto Blue Jays </option>
		<option value= "team4"> Texas Rangers </option>
		<option value= "team4"> Los Angelas Dodgers </option>
	</select>
	<inout type ="submit">
	</form>
</body>
</html>
